@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toastify-color-success: rgba(75, 192, 192, 1);
}

@layer base {
    body {
        @apply bg-black-edit;
        @apply text-base;
    }
}

.react-calendar {
    @apply bg-gray-200;
    @apply p-4;
    @apply border-2;
    @apply border-gray-300;
    @apply text-white;
    @apply self-center;
}

.react-calendar__navigation {
    @apply border-b;
    @apply border-white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__tile:enabled:hover {
    @apply hover:bg-gray-300;
    @apply focus:bg-gray-300;
}

.react-calendar__tile:enabled:focus {
    @apply focus:bg-bright-purple-200;
}

.react-time-picker {
    @apply justify-center;
}

.react-time-picker__wrapper {
    @apply border-0;
}
.react-time-picker__inputGroup {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply gap-2;
}

.react-time-picker__inputGroup__input {
    @apply min-h-timePickerInput;
    @apply min-w-timePickerInput;
    @apply bg-gray-300/70;
    @apply text-center;
    @apply text-white;
    @apply text-lg;
}

.react-time-picker__inputGroup__divider {
    @apply text-white;
}

.react-time-picker__inputGroup__input:invalid {
    @apply bg-bright-purple-100/20;
}

.react-datetime-picker__inputGroup {
    @apply rounded-lg;
    @apply border-none;
}

.react-datetime-picker__wrapper {
    @apply rounded-lg;
    @apply p-1.5;
    @apply text-center;
    @apply overflow-y-scroll;
}

button[data-testid='flowbite-dropdown-target'] {
    @apply dark:bg-transparent;
    @apply enabled:hover:bg-transparent;
    @apply enabled:hover:ring-bright-purple-100;
    @apply focus:ring-0;
}

.rbc-month-view {
    @apply border-gray-100;
}
.rbc-day-bg {
    @apply bg-gray-200;
}
.rbc-day-bg + .rbc-day-bg {
    @apply border-gray-100;
}

.rbc-off-range-bg {
    @apply bg-gray-400;
}
.rbc-today {
    @apply bg-bright-purple-100/20;
}

.rbc-event,
.rbc-selected {
    /* @apply bg-transparent; */
    @apply p-0;
}
.rbc-event-label {
    display: none;
}

.rbc-addons-dnd-resizable {
    @apply w-full;
}

.rbc-event.rbc-selected,
.rbc-day-slot,
.rbc-selected,
.rbc-background-event {
    @apply border-2;
    @apply bg-transparent;
}

.rbc-event:focus,
.rbc-day-slot,
.rbc-background-event:focus {
    @apply outline-0;
}
.rbc-header {
    @apply text-lg;
    @apply font-thin;
    @apply p-4;
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.rbc-month-row {
    @apply overflow-y-scroll;
}

.rbc-timeslot-group {
    @apply border-gray-100;
}

.rbc-day-slot {
    @apply border-0;
    @apply border-none;
}

.rbc-time-content {
    @apply border-0;
}
.rbc-day-slot .rbc-time-slot,
.rbc-month-row + .rbc-month-row {
    border-top: 0 solid #fff;
}

.rbc-time-view {
    @apply border-gray-100;
    @apply z-0;
}
.rbc-month-view {
    @apply z-0;
}
.rbc-row-bg,
.rbc-time-header-gutter {
    @apply border-b-2;
    @apply border-gray-100;
}

.rbc-date-cell {
    @apply text-sm;
    @apply md:text-base;
    @apply md:text-lg;
}

/* TOOLBAR */
.rbc-toolbar {
    @apply md:justify-between;
    @apply gap-2;
}
.rbc-toolbar button {
    @apply px-6;
}
.rbc-toolbar-label {
    @apply mb-4;
    @apply text-lg;
    @apply md:text-xl;
    @apply lg:text-2xl;
    @apply xl:text-4xl;
    @apply font-thin;
    @apply w-full;
}

.rbc-btn-group {
    @apply order-1;
}

.rbc-btn-group > button {
    @apply border-gray-100;
    @apply text-category-purple-100;
    @apply bg-gray-400;
    @apply text-base;
    @apply xl:text-xl;
    @apply 2xl:text-2xl;
    @applt p-6;
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button:hover {
    @apply bg-gray-200;
    @apply text-category-purple-100;
}

/* .rbc-header
 .rbc-row, .rbc-time-header-cell */

.rbc-time-view {
    @apply overflow-x-scroll;
    @apply relative;
}

.rbc-time-view .rbc-row {
    @apply w-fit;
    @apply min-[774px]:w-full;
}

.rbc-time-header-content {
    @apply w-full;
}

.rbc-time-view .rbc-allday-cell {
    @apply hidden;
}

.rbc-time-content .rbc-day-slot {
    @apply min-w-weekView;
}

.rbc-time-content {
    @apply overflow-visible;
}
.rbc-time-header-content .rbc-day-bg {
    @apply min-w-weekView;
}
